@import "../../styles/index.css";
.box_payment {
  width: 585px;
  border-radius: 20px;
  background: var(--dark);
  box-sizing: border-box;
  border: 1px solid var(--black-1);
  margin: 0 auto;
  overflow: auto;
}

.title-section {
  display: inline-flex;
  height: 95px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--black-1);
}

.body-section_payment {
  padding: 25px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--black-1);
}

.body-text {
  width: 365px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
}

.action-section_share {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px 0;
}

.item-payment-image {
  height: 206px;
  width: 211px;
  border-radius: 0px;
}

.share-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 60px;
}

.action-icon {
  height: 40px;
  width: 40px;
  color: white;
  cursor: pointer;
}
