@import "../../../styles/index.css";

.menu{
    font-size: var(--p1);
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-decoration-color: transparent;
    cursor: pointer;
}

.active{
    color: var(--gray-3);
}
