@import "../../styles/index.css";

.email-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1; 
  gap: 0px 10px;
  align-items: center;
  border-radius: 10px;
  background-color: var(--black-2);
  height: 40px;
  padding-left: 15px;
}

.email-input {
  outline: none;
  border: none;
  background: transparent;
  color: white;
  font-size: var(--p2);
  font-weight: 600;
}

.email-input::placeholder{
  color: white;
  font-size: var(--p2);
  font-family: 'Poppins';
}