@import "../../styles/index.css";

.solid {
  padding: 9px 30px;
  height: 40px;
  background: var(--red-linear);
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.lined {
  padding: 9px 30px;
  cursor: pointer;
  height: 40px;
  border-radius: 10px;
  border: solid 1px transparent;
  background-image: var(--red-linear), var(--red-linear);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1000px 1px var(--dark) inset;
}

.lined span {
  background: var(--red-linear);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-button {
  cursor: pointer;
  position: relative;
  height: 42px;
}



.profile-button-image {
  height: 40px;
  width: 40px;
  border: solid 3px transparent;
  background-image: var(--red-linear), var(--red-linear);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1000px 1px var(--dark) inset;
  border-radius: 50%;
}

.dropbtn {

}

.dropbtn:hover,
.dropbtn:focus {
}




.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  left : -30px;
  background-color: var(--dark);
  border: 1px solid var(--black-1);
  border-radius: 10px;
  min-width: 120px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content div {
  color: white;
  font-size: var(--p2);
  background-color: var(--dark);
  border: 1px solid var(--black-1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.show {
  display: block;
}
