@import "../../styles/index.css";

.container {
  border-radius: 20px;
  background-color: var(--black-3);
  cursor: pointer;
  padding: 11px;
}


.image-container {
  height: 211px;
  margin-bottom: 15px;
  border-radius: 20px;
}


.title-style {
    font-size: var(--p2);
    font-weight: 600;
    margin-bottom: 5px;
    color: white;
}

.title-style.shimmer {
  height: 14px;
  width: 200px;
}


.price-style {
    font-size: var(--p3);
    color: white;
}

.price-style.shimmer {
  height: 12px;
  width: 100px;
}
