@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  color: white;
}

h2 {
  font-weight: 600;
  color: white;
  color: white;
  font-size: 24px;
  margin: 0;
}

h3 {
  font-weight: 600;
  color: white;
  font-size: 20px;
  margin: 0;
}

button {
  font-weight: 600;
  font-size: 14px;
}
