@import "../../styles/index.css";

.navbar-container {
  height: 110px;
  width: calc(100% - 100px);
  background-color: var(--dark);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  flex-wrap: wrap;
  box-shadow: 3px 3px 1px var(--black-1);
  gap: 0px 20px;
}
